@font-face {
  font-family: "BlueDino";
  src:
    url("../fonts/BlueDino.woff2") format("woff2"),
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/BackgroundWavesTransparentSmall.png) no-repeat fixed;
  height: 100vh;
}

header {
    height: 100%;
}

.hero-container {
  display: flex;
  justify-content: center;
  height: 100%;
  /* align-items: center; */
}

.hero-image-container {
  margin: 1rem;
  margin-top: 15rem;
}

.hero-headings-container {
  font-family: "BlueDino", sans-serif;
  margin-top: 16rem;
}

.hero-headings-h1 {
    font-size: 4rem;
    color: #647abc;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 450px;
}
.hero-headings-h2 {
    font-size: 3rem;
    color: #f8931d;
    margin: 0;
    font-weight: 200;
}

/* About Section */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.section-heading {
    font-family: "BlueDino", sans-serif;
    font-size: 4rem;
    color: #f8931d;
    margin-top: 2rem;
    font-weight: 200;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    height: 50%;
}

.about-image-container {
    margin: 1rem;
    margin-top: 2rem;
}


.about-body {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about-body p {
    color: #647abc;
    background-color: #fde5c3 ;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}

/* Table of Contents Section */
.toc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.toc-section h2 {
    text-align: right;
    position: relative;
}

.toc-section ul {
    color: #647abc;
    line-height: 2;
}

.toc-section ul a {
    color: #647abc;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 0.5rem;
}

    /* Bloody Knight Section */
.bloody-section {
        height: 100vh;
}

.bloody-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.bloody-image-container {
    width: 50%;
    margin-top: 5rem;
}

.bloody-image-container img:last-child {
    margin-left: 5rem;
}

.bloody-content-body h2 {
    text-align: center;
}

.bloody-content-body h3 {
    font-size: 3rem;
    color:#647abc;
    margin-top: 2.5rem;
    margin-bottom: 0;
    text-align: center;
}

.bloody-content-body p {
    color: #647abc;
    padding: 1rem;
    font-size: 1.7rem;
    margin: 0;
    text-align: center;
}

/* Production Designer Section */
.production-design-section {
    height: 100vh;
}

.production-design-container {
    display: flex;
    justify-content: space-evenly;
    margin-right: 5rem;
    margin-top: 5rem;

}

.production-design-left {
    width: 50%;
    margin-top: 5rem;
    
}

.production-design-left img {
    padding: 1rem;

}

.production-design-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.production-design-right h2 {
    text-align: right;
}

.production-design-right p {
    color: #647abc;
    padding: 1rem;
    font-size: 1.7rem;
    text-align: center;
}

.production-design-right img {
    padding: 1rem;
    margin: 3rem;
}